<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-mybatis.org/DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.ssafy.materip.model.dao.AttractionInfoDao">
	<resultMap type="attractionInfo" id="attractionInfo">
		<result column="content_id" property="contentId" />
		<result column="content_type_id" property="contentTypeId" />
		<result column="title" property="title" />
		<result column="addr1" property="addr1" />
		<result column="addr2" property="addr2" />
		<result column="zipcode" property="zipcode" />
		<result column="tel" property="tel" />
		<result column="first_image" property="firstImage" />
		<result column="first_image2" property="firstImage2" />
		<result column="readcount" property="readcount" />
		<result column="sido_code" property="sidoCode" />
		<result column="gugun_code" property="gugunCode" />
		<result column="latitude" property="latitude" />
		<result column="longitude" property="longitude" />
		<result column="mlevel" property="mlevel" />

	</resultMap>


	<select id="getAttractionNameList" resultType="String">
		SELECT
		title
		FROM
		attraction_info;
	</select>

	<select id="getAttractionSearchNameList" parameterType="String" resultMap="attractionInfo">
		SELECT * FROM `attraction_info`
		WHERE title LIKE  CONCAT('%', #{title}, '%');
	</select>
	
	<select id="getAttractionInfoList" resultMap="attractionInfo">
		SELECT content_id, content_type_id, title, addr1, addr2, sido_code, gugun_code, latitude, longitude
		FROM
		attraction_info;
	</select>
	
	<select id="getAttractionInfoBySido" parameterType="int" resultMap="attractionInfo">
		SELECT content_id, content_type_id, title, addr1, addr2, zipcode, tel, sido_code, gugun_code, latitude, longitude
		FROM
		attraction_info
		WHERE sido_code = #{sidoCode};
	</select>
	
	<select id="getAttractionInfoBySidoGugun" parameterType="attractionInfo" resultType="String">
		SELECT title
		FROM
		attraction_info
		WHERE sido_code = #{sidoCode} AND gugun_code = #{gugunCode};
	</select>
	
	<select id="getAttractionContentId" parameterType="attractionInfo" resultType="Integer">
		SELECT content_id
		FROM
		attraction_info
		WHERE sido_code = #{sidoCode} AND gugun_code = #{gugunCode} AND title = #{title}
		LIMIT 1;
	</select>
		
	<select id="getAttractionInfoByContentId" parameterType="int" resultMap="attractionInfo">
		SELECT *
		FROM
		attraction_info
		WHERE content_id = #{contentId}
	</select>
		

</mapper>