<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-mybatis.org/DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.ssafy.materip.model.dao.UserDao">
	<resultMap type="user" id="user">
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="name" property="name"/>
		<result column="nickname" property="nickname"/>
		<result column="tel" property="tel"/>
		<result column="birth" property="birth"/>
		<result column="gender" property="gender"/>
		<result column="admin" property="admin"/>
		<result column="join_date" property="joinDate"/>
		<result column="modified_at" property="modifiedAt"/>
	</resultMap>
	<insert id="createUser">
		INSERT INTO users
		(id, password, email, name, nickname, tel, birth, gender, admin, join_date, modified_at)
		VALUES
		(#{id}, #{password}, #{email}, #{name}, #{nickname}, #{tel}, #{birth}, #{gender}, 0, now(), now())
	</insert>
	
	<select id="readUserById" resultType="User" resultMap="user">
		SELECT id, password, email, name, nickname, tel, birth, gender, admin, join_date, modified_at
		FROM users
		WHERE id = #{id}
	</select>
	
	<update id="updateUser">
		UPDATE users
		SET email = #{email}, nickname = #{nickname}, tel = #{tel}, modified_at = now()
		WHERE id = #{id}
	</update>
	
	<delete id="deleteUser">
		DELETE from users
		where id = #{id}
	</delete>
	
	<select id="readAllUsers" resultType="User" resultMap="user">
		SELECT id, password, email, name, nickname, tel, birth, gender, admin, join_date, modified_at
		FROM users
	</select>
</mapper>