<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-mybatis.org/DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.ssafy.materip.model.dao.UserlikesDao">

	<insert id="createUserlikes">
		INSERT INTO userlikes (id, liked_by)
		VALUES (#{userId}, #{likedBy})
	</insert>
	
	<select id="readUserlikes" resultType="String">
		SELECT liked_by
		FROM userlikes
		WHERE id = #{userId}
	</select>
	
	<select id="readUserlikesCount" resultType="int">
		SELECT COUNT(liked_by)
		FROM userlikes
		WHERE id = #{userId}
	</select>
	
	<delete id="deleteUserlikes">
		DELETE FROM userlikes
		WHERE id = #{userId} AND liked_by = #{likedBy}
	</delete>


	<select id="getRankUserlikes" resultType="Integer">
		select count(id) from
		(select count(liked_by) as ranking_score, id from userlikes group by id) as A
		where ranking_score > (select ranking_score
		from (select count(liked_by) as ranking_score, id from userlikes group by id) as B  where id = #{userId});
	</select>
</mapper>